<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% if user.is_authenticated %}
    Seja bem vindo! {{ user.username }}
    <a href="{% url 'logout' %}">Logout</a>
{% endif %}

<table>
    <tr>
        <th><a href="{% url 'home' %}">Home</a></th>
        {% if user.is_authenticated %}
            <th><a href="{% url 'create' %}">Criar Novo</a></th>
            <th><a href="{% url 'my_persos' %}">Meus</a></th>
        {% else %}
            <th><a href="{% url 'login' %}">Fazer login</a></th>
            <th><a href="{% url 'register' %}">Registrar-se</a></th>
        {% endif %}
    </tr>
</table>
    {% block content %}

    {% endblock %}
</body>
</html>