{% extends 'layout.html' %}

{% block content %}

    {% for item in data %}
        <ul>
            <li><a href="{% url 'single_detail' item.id %}">{{ item.title }}</a></li>
            {% if object.sub_title %}
                <li>{{ object.sub_title }}</li>
            {% endif %}
            <li>{{ item.content }}</li>
            <li>{% for cat in item.categories.all %}{{ cat.name }} {% endfor %}</li>
            <li>Criado em: {{ item.created }}</li>
            <li>by: {{ item.user }}</li>
        </ul>
    {% endfor %}

{% endblock %}