{% extends 'layout.html' %}

{% block title %}Meus Persos{% endblock %}

{% block content %}

    {% for object in objects %}
        <ul>
            <li><a href="{% url 'single_detail' object.id %}">{{ object.title }}</a></li>
            {% if object.sub_title %}
                <li>{{ object.sub_title }}</li>
            {% endif %}
            <li>{{ object.content }}</li>
            <li>{% for cat in object.categories.all %}{{ cat.name }} {% endfor %}</li>
            <li>Criado em: {{ object.created }}</li>
            <li><a href="{% url 'update' object.id %}">Editar</a>   <a href="{% url 'delete' object.id %}">Excluir</a></li>
        </ul>
    {% endfor %}

{% endblock %}